In [7]:
#pip freeze

In [8]:
#pip install *package_name*

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

In [10]:
spark = SparkSession.builder.appName('mi_app').getOrCreate()

In [11]:
sc = spark.sparkContext

In [12]:
spark

In [13]:
ls ../../../TMS/tmp_files/

dataset.csv  juan.csv  test.csv

In [14]:
df = spark.read.csv('../../../TMS/tmp_files/dataset.csv', header=True)

In [15]:
df

DataFrame[record_id: string, dealer_id: string, vin: string, ro_number: string, ro_close_date: string, service_category: string, operation_payment_type: string, operation_parts_cost: string, vehicle_make_name: string, vehicle_model_code: string, vehicle_model_name: string, operation_labour_cost: string, operation_misc_cost: string, ro_total: string, customer_pay_ro_total: string, internal_pay_ro_total: string, warranty_pay_ro_total: string, error_code: string, is_reject_record: string, is_warning_record: string, mileage: string, customer_owner_type: string, customer_owner_id: string]

In [17]:
df = df.select('record_id', 'dealer_id', 'ro_number', 'service_category', 'operation_payment_type', 'operation_parts_cost', 'operation_labour_cost', 'operation_misc_cost')

In [18]:
df.show()

+-----------+---------+-----------+----------------+----------------------+--------------------+---------------------+-------------------+
|  record_id|dealer_id|  ro_number|service_category|operation_payment_type|operation_parts_cost|operation_labour_cost|operation_misc_cost|
+-----------+---------+-----------+----------------+----------------------+--------------------+---------------------+-------------------+
| 1159221442|  0434300|      44317|              33|                     C|             2032.33|              2706.00|               0.00|
| 1159221443|  1606100|   60K60970|              33|                     C|              572.09|              1245.60|             635.00|
| 1159221441|  1117600|NR004093-01|              33|                     C|             1355.58|              1155.00|              79.90|
| 1159221444|  1606100|   60K59750|              33|                     C|              251.41|              1107.20|             834.71|
| 1159221447|  3357600|NO000670-01|              33|                     C|             2684.69|              1417.35|               0.00|
| 1159221448|  3376000|       5412|              35|                     C|              592.80|              1380.00|             150.00|
| 1159221449|  3342300|   88P83770|              33|                     C|             1060.65|              8443.75|             210.00|
|11592214410|  0307600|    1309932|              33|                     C|             3913.79|              2960.00|             260.86|
|11592214411|  1407500|   11N46410|              33|                     C|             2715.42|              3708.00|             595.19|
|11592214412|  1407500|   11N43760|              33|                     C|            10893.33|              4420.80|             593.33|
| 1159221445|  1606100|   60K58630|              33|                     C|              251.41|              1591.60|             765.00|
| 1159221446|  3357600|NO000773-01|              33|                     C|             1997.81|              1950.00|             120.00|
|11592214413|  1221100|   18Z85370|              35|                     C|            21982.83|              3672.00|             150.70|
|11592214414|  2103000|RN039500-01|              35|                     C|             5667.37|              5610.00|            1973.74|
|11592214418|  1507900|NO001975-02|              33|                     C|             1496.21|              1612.00|             180.00|
|11592214417|  0600400|   84N25260|              16|                     C|                0.00|              3960.00|             125.00|
|11592214419|  0208400|   37I50510|              33|                     C|             1121.11|              1876.10|             789.98|
|11592214420|  3357600|NO000743-01|              33|                     C|             1499.85|              1300.00|             120.00|
|11592214415|  1236400|    1670246|              33|                     C|                0.00|                 0.00|            4144.00|
|11592214416|  2008600|RN622215-01|              33|                     C|             1670.29|              2100.00|             100.00|
+-----------+---------+-----------+----------------+----------------------+--------------------+---------------------+-------------------+
only showing top 20 rows

In [22]:
df.select('record_id').count()

7772

In [25]:
2000*60 + 1500*70 + 600*60 + 100000

361000

In [26]:
600000 - 361000

239000

In [27]:
239000/60

3983.3333333333335